<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)= "onSavePost(postForm)" #postForm= "ngForm" *ngIf= "!isLoading">
    <mat-form-field>
      <input matInput
       type= "text"
       name= "title"
       required
       [ngModel] = "post?.title"
       placeholder='Title'
      #title="ngModel">
      <mat-error *ngIf= "title.invalid">The title is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
       name="content"
       required
       [ngModel] = "post?.content"
       placeholder="Content"
       #content= "ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">The content is invalid</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color = "primary"
    type="sumbit">Save this</button>
  </form>
</mat-card>

