<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)= "onLogin(loginForm)" #loginForm= "ngForm" *ngIf= "!isLoading">
      <mat-form-field>
        <input matInput
         type= "email"
         name = "email"
         ngModel
         placeholder= 'Email'
         #emailInput= "ngModel"
         required
        >
        <mat-error *ngIf= "emailInput.invalid">The Email is invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type= "password" name="password" ngModel matInput placeholder="password" #passwordInput="ngModel">
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
      </mat-form-field>
      <button
      mat-raised-button
      color = "primary"
      type="sumbit">Save this</button>
    </form>
  </mat-card>
  
  